In [1]:
import pandas as pd

In [2]:
petitions_tf = pd.read_pickle("petitions_tf.pkl")
complain_tf = pd.read_pickle("complain_tf_py.pkl")

In [3]:
def Calculate_ratio(df):
    df = pd.DataFrame(list(df.items()), columns=['word', 'freq'])
    df.sort_values(by = ['freq'], axis = 0, ascending = False, inplace= True)
    total = sum(df['freq'])
    temp = list(map(lambda x : x / total, df.freq))
    df['ratio'] = temp
    return df

In [4]:
pet_tf_df = Calculate_ratio(petitions_tf)
comp_tf_df = Calculate_ratio(complain_tf)

In [6]:
pet_tf_df
comp_tf_df

         word     freq         ratio
137        신고  2135953  2.060849e-02
185        사진  2030823  1.959416e-02
184        첨부  1181565  1.140019e-02
64         관련  1144510  1.104267e-02
203        문의  1064749  1.027311e-02
...       ...      ...           ...
83538   검멀레해변        1  9.648382e-09
83540      국란        1  9.648382e-09
83542     천자문        1  9.648382e-09
83547    입업읍니        1  9.648382e-09
124985    전현철        1  9.648382e-09

[124986 rows x 3 columns]

In [16]:
pet_com = pd.merge(pet_tf_df, comp_tf_df, how = 'inner', on ='word')

      word  freq_x       ratio_x  freq_y       ratio_y
0        것  191895  1.137468e-02  506232  4.884320e-03
1       국민  179523  1.064133e-02   59248  5.716473e-04
2       생각  137492  8.149916e-03  194218  1.873889e-03
3       사람  135416  8.026860e-03  103471  9.983277e-04
4        수  104803  6.212257e-03  726491  7.009463e-03
...    ...     ...           ...     ...           ...
60525  정병국       1  5.927556e-08       5  4.824191e-08
60526   태브       1  5.927556e-08       1  9.648382e-09
60527   번환       1  5.927556e-08       1  9.648382e-09
60528  기성동       1  5.927556e-08       7  6.753867e-08
60529  경동대       1  5.927556e-08      17  1.640225e-07

[60530 rows x 5 columns]

In [18]:
pet_com['pet / comp'] = pet_com['ratio_x'] / pet_com['ratio_y']
pet_com.sort_values(by = ['pet / comp'], axis = 0, ascending = False, inplace= True)
pet_com.to_csv("petition_complain_contrast.csv")