In [1]:
import pandas as pd

In [52]:
df = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/지자체평가_재정영역(황수현).xlsx", sheet_name = 0)
for i in range(1,16, 1):
    print(i)
    temp = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/지자체평가_재정영역(황수현).xlsx", sheet_name = i)
    temp = temp.drop(['Unnamed: 0'], axis = 1)
    df = pd.concat([df, temp], axis = 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [55]:
df.T

,0,1,2,3,4,5,6,7,8
단위(%),NaN,지방세 징수율,세외수입 체납액 관리 비율,행정운영 경비 비율,출자출연전출금비율,지방보조금비율,중기재정계획반영비율,세수오차비율,이불용액비율
지역,서울,98.71,0.32,3.75,5.16,2.33,108.67,83.14,3.9
Unnamed: 2,부산,98.42,0.19,4.9,4.22,1.25,98.63,87.92,2.6
Unnamed: 3,대구,98.03,0.05,5.27,2.43,2.25,99.44,90.97,2.14
Unnamed: 4,인천,97.98,0.13,5.51,2.91,1.17,112.42,93.78,3.5
...,...,...,...,...,...,...,...,...,...
Unnamed: 14,하동,97.17,0.25,9.52,0.68,6.6,98.52,94.6,10.22
Unnamed: 15,산청,95.62,0.27,10,0.34,6.75,97.36,98.71,10.46
Unnamed: 16,함양,95.62,0.21,10.51,0.28,7.36,96.13,95.92,9.38
Unnamed: 17,거창,96.35,0.31,10.06,2.72,6.68,94.3,98.88,13.12
Unnamed: 18,합천,97.17,0.28,10.18,1.31,8.36,104.74,94.8,6.98

In [56]:
df.T.to_excel("/home/mglee/VSCODE/git/ISDS/region/test.xlsx")