In [1]:
import pandas as pd

In [2]:
body = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/서울대학교_시산종합_0119.xlsx")
id = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/id.xlsx")

In [3]:
body[10:60]

,id,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,순위:보건,순위:복지,순위:교육,...,교육2 표준화값,교육3 표준화값,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값
10,148,보령시,50만미만 시,5.699645,6.301506,5.850667,5.874792,40,20.0,49,...,5.872191,5.555114,5.448182,NaN,NaN,NaN,6.099509,NaN,NaN,5.650075
11,93,과천시,50만미만 시,7.520412,5.753036,5.771720,6.161512,1,55.0,51,...,5.878885,6.165238,7.137473,NaN,NaN,NaN,6.819376,NaN,NaN,5.503649
12,231,양산시,50만미만 시,6.099262,6.167940,6.719398,5.898277,21,25.0,4,...,5.856431,6.575944,6.790230,NaN,NaN,NaN,5.256235,NaN,NaN,6.540319
13,90,동두천시,50만미만 시,6.604584,6.651407,5.761269,5.704540,7,6.0,53,...,5.862169,6.122506,6.686996,NaN,NaN,NaN,5.636736,NaN,NaN,5.772344
14,103,이천시,50만미만 시,5.234254,5.893392,6.112018,5.653373,56,48.0,34,...,5.871012,6.552204,6.794922,NaN,NaN,NaN,5.451628,NaN,NaN,5.855118
15,179,순천시,50만미만 시,6.706451,6.175264,6.365371,5.605115,5,24.0,23,...,6.160745,6.476235,6.630686,NaN,NaN,NaN,5.616169,NaN,NaN,5.594060
16,110,여주시,50만미만 시,5.684875,6.399162,6.016520,6.376143,41,16.0,42,...,5.802878,6.331419,5.994855,NaN,NaN,NaN,7.097040,NaN,NaN,5.655247
17,177,목포시,50만미만 시,6.813640,6.052758,6.440570,6.056190,3,33.0,15,...,5.880401,6.260199,6.670572,NaN,NaN,NaN,5.677872,NaN,NaN,6.434508
18,227,사천시,50만미만 시,5.792665,6.571995,5.930972,5.634356,38,10.0,46,...,5.881098,6.257825,7.081163,NaN,NaN,NaN,5.482479,NaN,NaN,5.786234
19,153,당진시,50만미만 시,5.345627,6.377491,5.834728,5.702813,54,17.0,50,...,5.760860,6.405014,6.640071,NaN,NaN,NaN,5.677872,NaN,NaN,5.727755
20,107,광주시,50만미만 시,6.287957,5.801088,6.000908,5.644321,15,51.0,43,...,6.095352,6.708889,7.365058,NaN,NaN,NaN,5.287086,NaN,NaN,6.001556
21,96,오산시,50만미만 시,5.489197,6.109597,7.058615,6.084646,48,29.0,2,...,5.824076,7.307143,7.292325,NaN,NaN,NaN,5.420776,NaN,NaN,6.748517
22,121,삼척시,50만미만 시,5.496408,7.169518,6.376072,6.043715,47,1.0,20,...,5.744807,6.981902,5.234675,NaN,NaN,NaN,6.253766,NaN,NaN,5.833665
23,100,하남시,50만미만 시,6.329626,5.439537,6.062378,5.143113,13,61.0,39,...,5.941833,6.395518,7.299363,NaN,NaN,NaN,5.143113,NaN,NaN,NaN
24,150,서산시,50만미만 시,5.326702,6.413080,6.111632,5.839973,55,15.0,35,...,5.882311,6.578318,6.607224,NaN,NaN,NaN,5.410492,NaN,NaN,6.269454
25,98,군포시,50만미만 시,6.330140,6.038136,6.209293,5.215099,12,36.0,31,...,5.670798,6.207970,6.905195,NaN,NaN,NaN,5.215099,NaN,NaN,NaN
26,94,구리시,50만미만 시,6.520606,5.764586,6.241879,5.873748,9,54.0,29,...,5.897360,6.186604,7.118703,NaN,NaN,NaN,5.184248,NaN,NaN,6.563249
27,208,문경시,50만미만 시,5.872134,6.727514,5.923596,6.485694,31,4.0,47,...,5.875928,5.320086,5.504492,NaN,NaN,NaN,6.870796,NaN,NaN,6.100592
28,229,밀양시,50만미만 시,6.365779,6.044087,6.453866,5.730501,11,35.0,14,...,5.854040,6.319550,6.987314,NaN,NaN,NaN,5.492763,NaN,NaN,5.968240
29,115,춘천시,50만미만 시,5.945233,6.079884,6.292181,5.893731,27,32.0,26,...,5.790076,6.886941,6.611916,NaN,NaN,NaN,5.904116,NaN,NaN,5.883346
30,152,계룡시,50만미만 시,6.716961,5.983676,6.479029,5.397653,4,42.0,11,...,5.834370,6.124880,7.036585,NaN,NaN,NaN,5.832129,NaN,NaN,4.963177
31,105,김포시,50만미만 시,5.747672,5.632167,6.684415,5.633124,39,60.0,5,...,5.878129,6.708889,7.419022,NaN,NaN,NaN,5.225383,NaN,NaN,6.040865
32,204,구미시,50만미만 시,5.405620,6.136387,6.866973,5.657540,52,27.0,3,...,5.886705,6.587814,6.839501,NaN,NaN,NaN,5.143113,NaN,NaN,6.171968
33,230,거제시,50만미만 시,5.861741,6.088738,6.542428,5.547271,33,31.0,10,...,5.839910,6.640043,7.139819,NaN,NaN,NaN,5.225383,NaN,NaN,5.869159
34,109,포천시,50만미만 시,5.440023,6.245834,5.874084,6.169973,50,21.0,48,...,5.927031,6.763492,5.823580,NaN,NaN,NaN,5.842413,NaN,NaN,6.497534
35,135,제천시,50만미만 시,5.795816,5.790620,6.583610,6.253798,37,53.0,8,...,6.434818,6.789606,6.025356,NaN,NaN,NaN,6.017238,NaN,NaN,6.490357
36,102,파주시,50만미만 시,6.055735,5.841607,6.373728,5.943625,23,49.0,21,...,5.814487,6.400266,7.132781,NaN,NaN,NaN,5.780710,NaN,NaN,6.106541
37,97,시흥시,50만미만 시,5.626770,5.957827,6.367211,6.117292,43,43.0,22,...,6.060388,6.891689,7.163281,NaN,NaN,NaN,5.204816,NaN,NaN,7.029769
38,243,제주시,50만미만 시,5.638701,5.736333,6.284631,6.171432,42,56.0,27,...,5.833466,6.943918,7.236015,NaN,NaN,NaN,6.408023,NaN,NaN,5.934841
39,117,강릉시,50만미만 시,5.523429,5.900316,6.173726,6.175687,46,46.0,33,...,5.888664,6.962910,6.267019,NaN,NaN,NaN,6.366888,NaN,NaN,5.984487
40,225,진주시,50만미만 시,5.905164,5.945155,6.223689,6.101276,30,44.0,30,...,6.255347,5.956324,6.529798,NaN,NaN,NaN,5.976103,NaN,NaN,6.226449
41,202,김천시,50만미만 시,6.252522,6.541339,6.400166,5.510873,19,11.0,19,...,5.954256,5.982438,6.095744,NaN,NaN,NaN,5.461911,NaN,NaN,5.559835
42,163,군산시,50만미만 시,6.256773,6.109536,6.419006,5.831469,18,30.0,16,...,6.014218,6.723134,6.478180,NaN,NaN,NaN,5.328221,NaN,NaN,6.334715
43,205,영주시,50만미만 시,5.862692,5.906166,6.106962,6.086401,32,45.0,36,...,5.884864,6.640043,6.119206,NaN,NaN,NaN,5.852697,NaN,NaN,6.320104
44,134,충주시,50만미만 시,4.879597,6.000822,6.359802,5.858397,61,41.0,24,...,5.906750,7.000894,6.149707,NaN,NaN,NaN,5.708723,NaN,NaN,6.008070
45,209,경산시,50만미만 시,5.966135,5.705555,7.094291,5.695902,26,58.0,1,...,5.885450,8.577247,6.658841,NaN,NaN,NaN,5.461911,NaN,NaN,5.929893
46,167,김제시,50만미만 시,6.095898,6.717511,5.524628,5.746547,22,5.0,58,...,5.840675,4.728953,4.774812,NaN,NaN,NaN,6.222915,NaN,NaN,5.270180
47,104,안성시,50만미만 시,5.360679,6.582050,6.674534,5.801940,53,9.0,6,...,5.824239,7.639507,6.503989,NaN,NaN,NaN,5.492763,NaN,NaN,6.111118
48,201,경주시,50만미만 시,5.624378,6.032206,6.265111,5.802668,44,37.0,28,...,5.860725,6.393144,6.196632,NaN,NaN,NaN,5.677872,NaN,NaN,5.927463
49,178,여수시,50만미만 시,5.095769,5.720380,5.999566,5.685918,60,57.0,44,...,5.823965,5.920713,6.267019,NaN,NaN,NaN,5.348789,NaN,NaN,6.023047
50,118,동해시,50만미만 시,5.607530,6.227327,6.073124,6.071036,45,22.0,38,...,5.977942,5.707051,6.320982,NaN,NaN,NaN,5.667588,NaN,NaN,6.474484
51,244,서귀포시,50만미만 시,5.181310,5.633245,5.551284,7.172156,58,59.0,57,...,5.840187,5.640578,6.400754,NaN,NaN,NaN,8.557343,NaN,NaN,5.786969
52,180,나주시,50만미만 시,6.036684,6.476187,6.019545,5.981565,24,14.0,40,...,5.751993,6.077399,5.837657,NaN,NaN,NaN,5.955535,NaN,NaN,6.007595
53,85,의정부시,50만미만 시,5.408552,6.051210,6.327209,5.164311,51,34.0,25,...,5.969378,6.708889,6.987314,NaN,NaN,NaN,5.081409,NaN,NaN,5.247212
54,147,공주시,50만미만 시,6.327367,6.756253,6.404510,6.395106,14,3.0,17,...,5.897533,6.649539,5.593649,NaN,NaN,NaN,6.613700,NaN,NaN,6.176513
55,108,양주시,50만미만 시,5.932808,6.354143,6.459446,6.137646,28,19.0,13,...,6.181376,7.157580,6.905195,NaN,NaN,NaN,5.564750,NaN,NaN,6.710542
56,166,남원시,50만미만 시,6.267099,7.142082,5.050241,5.933899,17,2.0,61,...,5.842896,4.869021,5.133787,NaN,NaN,NaN,5.883548,NaN,NaN,5.984250
57,149,아산시,50만미만 시,5.846773,6.586641,6.615415,5.684209,35,8.0,7,...,5.944378,7.171824,6.970890,NaN,NaN,NaN,5.461911,NaN,NaN,5.906507
58,151,논산시,50만미만 시,5.820659,6.507106,5.418428,5.838737,36,12.0,59,...,5.926610,5.669067,5.673421,NaN,NaN,NaN,5.564750,NaN,NaN,6.112723
59,206,영천시,50만미만 시,5.444088,6.371070,5.587007,5.818916,49,18.0,55,...,5.887616,5.438787,5.626496,NaN,NaN,NaN,5.677872,NaN,NaN,5.959960

In [4]:
temp = pd.merge(body, id[['광역', '자치']], how = 'left', left_on = 'dist', right_on = '자치')

In [5]:
temp[10:20]

,id,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,순위:보건,순위:복지,순위:교육,...,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값,광역,자치
10,148,보령시,50만미만 시,5.699645,6.301506,5.850667,5.874792,40,20.0,49,...,5.448182,NaN,NaN,NaN,6.099509,NaN,NaN,5.650075,충남,보령시
11,93,과천시,50만미만 시,7.520412,5.753036,5.771720,6.161512,1,55.0,51,...,7.137473,NaN,NaN,NaN,6.819376,NaN,NaN,5.503649,경기,과천시
12,231,양산시,50만미만 시,6.099262,6.167940,6.719398,5.898277,21,25.0,4,...,6.790230,NaN,NaN,NaN,5.256235,NaN,NaN,6.540319,경남,양산시
13,90,동두천시,50만미만 시,6.604584,6.651407,5.761269,5.704540,7,6.0,53,...,6.686996,NaN,NaN,NaN,5.636736,NaN,NaN,5.772344,경기,동두천시
14,103,이천시,50만미만 시,5.234254,5.893392,6.112018,5.653373,56,48.0,34,...,6.794922,NaN,NaN,NaN,5.451628,NaN,NaN,5.855118,경기,이천시
15,179,순천시,50만미만 시,6.706451,6.175264,6.365371,5.605115,5,24.0,23,...,6.630686,NaN,NaN,NaN,5.616169,NaN,NaN,5.594060,전남,순천시
16,110,여주시,50만미만 시,5.684875,6.399162,6.016520,6.376143,41,16.0,42,...,5.994855,NaN,NaN,NaN,7.097040,NaN,NaN,5.655247,경기,여주시
17,177,목포시,50만미만 시,6.813640,6.052758,6.440570,6.056190,3,33.0,15,...,6.670572,NaN,NaN,NaN,5.677872,NaN,NaN,6.434508,전남,목포시
18,227,사천시,50만미만 시,5.792665,6.571995,5.930972,5.634356,38,10.0,46,...,7.081163,NaN,NaN,NaN,5.482479,NaN,NaN,5.786234,경남,사천시
19,153,당진시,50만미만 시,5.345627,6.377491,5.834728,5.702813,54,17.0,50,...,6.640071,NaN,NaN,NaN,5.677872,NaN,NaN,5.727755,충남,당진시

In [6]:
temp['id'] = temp['광역']
temp.drop(['광역', '자치'], axis = 1, inplace = True)
temp[40:60]

,id,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,순위:보건,순위:복지,순위:교육,...,교육2 표준화값,교육3 표준화값,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값
40,경남,진주시,50만미만 시,5.905164,5.945155,6.223689,6.101276,30,44.0,30,...,6.255347,5.956324,6.529798,NaN,NaN,NaN,5.976103,NaN,NaN,6.226449
41,경북,김천시,50만미만 시,6.252522,6.541339,6.400166,5.510873,19,11.0,19,...,5.954256,5.982438,6.095744,NaN,NaN,NaN,5.461911,NaN,NaN,5.559835
42,전북,군산시,50만미만 시,6.256773,6.109536,6.419006,5.831469,18,30.0,16,...,6.014218,6.723134,6.478180,NaN,NaN,NaN,5.328221,NaN,NaN,6.334715
43,경북,영주시,50만미만 시,5.862692,5.906166,6.106962,6.086401,32,45.0,36,...,5.884864,6.640043,6.119206,NaN,NaN,NaN,5.852697,NaN,NaN,6.320104
44,충북,충주시,50만미만 시,4.879597,6.000822,6.359802,5.858397,61,41.0,24,...,5.906750,7.000894,6.149707,NaN,NaN,NaN,5.708723,NaN,NaN,6.008070
45,경북,경산시,50만미만 시,5.966135,5.705555,7.094291,5.695902,26,58.0,1,...,5.885450,8.577247,6.658841,NaN,NaN,NaN,5.461911,NaN,NaN,5.929893
46,전북,김제시,50만미만 시,6.095898,6.717511,5.524628,5.746547,22,5.0,58,...,5.840675,4.728953,4.774812,NaN,NaN,NaN,6.222915,NaN,NaN,5.270180
47,경기,안성시,50만미만 시,5.360679,6.582050,6.674534,5.801940,53,9.0,6,...,5.824239,7.639507,6.503989,NaN,NaN,NaN,5.492763,NaN,NaN,6.111118
48,경북,경주시,50만미만 시,5.624378,6.032206,6.265111,5.802668,44,37.0,28,...,5.860725,6.393144,6.196632,NaN,NaN,NaN,5.677872,NaN,NaN,5.927463
49,전남,여수시,50만미만 시,5.095769,5.720380,5.999566,5.685918,60,57.0,44,...,5.823965,5.920713,6.267019,NaN,NaN,NaN,5.348789,NaN,NaN,6.023047
50,강원,동해시,50만미만 시,5.607530,6.227327,6.073124,6.071036,45,22.0,38,...,5.977942,5.707051,6.320982,NaN,NaN,NaN,5.667588,NaN,NaN,6.474484
51,제주,서귀포시,50만미만 시,5.181310,5.633245,5.551284,7.172156,58,59.0,57,...,5.840187,5.640578,6.400754,NaN,NaN,NaN,8.557343,NaN,NaN,5.786969
52,전남,나주시,50만미만 시,6.036684,6.476187,6.019545,5.981565,24,14.0,40,...,5.751993,6.077399,5.837657,NaN,NaN,NaN,5.955535,NaN,NaN,6.007595
53,경기,의정부시,50만미만 시,5.408552,6.051210,6.327209,5.164311,51,34.0,25,...,5.969378,6.708889,6.987314,NaN,NaN,NaN,5.081409,NaN,NaN,5.247212
54,충남,공주시,50만미만 시,6.327367,6.756253,6.404510,6.395106,14,3.0,17,...,5.897533,6.649539,5.593649,NaN,NaN,NaN,6.613700,NaN,NaN,6.176513
55,경기,양주시,50만미만 시,5.932808,6.354143,6.459446,6.137646,28,19.0,13,...,6.181376,7.157580,6.905195,NaN,NaN,NaN,5.564750,NaN,NaN,6.710542
56,전북,남원시,50만미만 시,6.267099,7.142082,5.050241,5.933899,17,2.0,61,...,5.842896,4.869021,5.133787,NaN,NaN,NaN,5.883548,NaN,NaN,5.984250
57,충남,아산시,50만미만 시,5.846773,6.586641,6.615415,5.684209,35,8.0,7,...,5.944378,7.171824,6.970890,NaN,NaN,NaN,5.461911,NaN,NaN,5.906507
58,충남,논산시,50만미만 시,5.820659,6.507106,5.418428,5.838737,36,12.0,59,...,5.926610,5.669067,5.673421,NaN,NaN,NaN,5.564750,NaN,NaN,6.112723
59,경북,영천시,50만미만 시,5.444088,6.371070,5.587007,5.818916,49,18.0,55,...,5.887616,5.438787,5.626496,NaN,NaN,NaN,5.677872,NaN,NaN,5.959960

In [11]:
temp[temp['dist'].duplicated()]

,id,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,순위:보건,순위:복지,순위:교육,...,교육2 표준화값,교육3 표준화값,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값
86,부산,강서구,자치구,6.044403,5.882748,6.313632,5.167733,41,7.0,41,...,6.066261,6.312428,7.092895,NaN,NaN,NaN,5.194532,NaN,NaN,5.140935
121,부산,중구,자치구,6.897709,5.365084,6.409564,6.263367,10,33.0,32,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
122,대구,중구,자치구,6.897709,5.365084,6.409564,6.263367,10,33.0,32,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
123,인천,중구,자치구,6.897709,5.365084,6.409564,6.263367,10,33.0,32,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
124,대전,중구,자치구,6.897709,5.365084,6.409564,6.263367,10,33.0,32,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
125,울산,중구,자치구,6.897709,5.365084,6.409564,6.263367,10,33.0,32,...,5.877146,7.252541,6.206017,NaN,NaN,NaN,6.911931,NaN,NaN,5.614803
130,서울,강서구,자치구,6.122810,5.403314,6.134554,5.122545,37,29.0,50,...,6.066261,6.051285,6.637724,NaN,NaN,NaN,5.122545,NaN,NaN,NaN
131,부산,강서구,자치구,6.122810,5.403314,6.134554,5.122545,37,29.0,50,...,6.066261,6.051285,6.637724,NaN,NaN,NaN,5.122545,NaN,NaN,NaN
200,경남,고성군,농어촌_군,6.353020,5.829421,5.361112,6.244762,18,75.5,40,...,5.918807,4.873769,5.016475,NaN,NaN,NaN,6.839944,NaN,NaN,5.649580
245,강원,고성군,농어촌_군,5.719011,5.829421,5.120252,7.985548,45,75.5,58,...,5.918807,4.947364,3.979438,NaN,NaN,NaN,9.781119,NaN,NaN,6.189976
246,경남,고성군,농어촌_군,5.719011,5.829421,5.120252,7.985548,45,75.5,58,...,5.918807,4.947364,3.979438,NaN,NaN,NaN,9.781119,NaN,NaN,6.189976

In [7]:
temp.to_excel("/home/mglee/VSCODE/git/ISDS/region/merge0119.xlsx")

In [8]:
j_rank = temp[temp['dist'] == '제주시'][['순위:보건', '순위:복지', '순위:교육', '순위:문화']]
s_rank = temp[temp['dist'] == '서귀포시'][['순위:보건', '순위:복지', '순위:교육', '순위:문화']]

In [9]:
j_rank['순위:보건'].item()

42

In [156]:
check_lst = ['순위:보건', '순위:복지', '순위:교육', '순위:문화']

global_lst = []

for col in check_lst:
    lst = []
    for item_rank in temp[col]:
        modi = 0
        if item_rank > j_rank[col].item():
            modi += 1
        if item_rank > s_rank[col].item():
            modi += 1
        lst.append(item_rank - modi)
    global_lst.append(lst)

In [158]:
new_rank = pd.DataFrame(global_lst).T

new_df = pd.concat([temp, new_rank], axis = 1)
new_df.to_excel("/home/mglee/VSCODE/git/ISDS/region/temp.xlsx")