In [1]:
import pandas as pd

In [4]:
body = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/body.xlsx")
id = pd.read_excel("/home/mglee/VSCODE/git/ISDS/region/id.xlsx")

In [19]:
body

,Unnamed: 0,dist,type,보건_영역평균,복지_영역평균,교육_영역평균,문화_영역평균,순위:보건,순위:복지,순위:교육,...,교육2 표준화값,교육3 표준화값,교육4 표준화값,교육5 표준화값,문화1 표준화값,문화2 표준화값,문화3 표준화값,문화4 표준화값,문화5 표준화값,문화6 표준화값
0,NaN,전라남도,도,6.263236,6.560409,6.027735,5.758826,1,1.0,6,...,5.904532,5.709425,5.795425,6.893684,7.225271,4.945587,6.099509,5.378801,4.908595,5.995191
1,NaN,경상남도,도,6.002598,5.816905,6.372718,5.515335,4,8.0,1,...,5.873751,6.229337,6.557952,6.485143,4.918270,5.038291,5.554466,5.706577,5.836628,6.037779
2,NaN,충청남도,도,5.747029,5.805874,6.258403,5.624632,7,9.0,3,...,5.878643,6.689897,6.424217,6.216365,5.580369,5.395248,5.729291,5.457141,5.651021,5.934724
3,NaN,경기도,도,6.038500,5.940721,6.256226,5.920582,2,6.0,4,...,5.887538,6.706515,7.114011,5.646558,4.669983,7.246005,5.317938,5.405123,7.027603,5.856839
4,NaN,전라북도,도,6.015614,6.474904,5.844228,6.083551,3,2.0,9,...,5.841998,6.184230,6.001894,4.678961,7.608047,5.370755,5.862981,5.700309,6.084103,5.875113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,NaN,대구,특광시,6.272466,5.651346,6.016530,6.151630,4,3.0,6,...,5.898277,6.476235,6.757382,3.582350,4.628601,7.115979,5.256235,6.044380,7.739095,6.125491
240,NaN,인천,특광시,5.779436,5.567167,6.384535,5.856523,6,5.0,4,...,5.861602,6.490479,6.816039,6.184113,5.973490,6.409356,5.276803,5.328663,6.362513,5.788311
241,NaN,광주,특광시,6.440033,6.430276,6.790109,6.341438,2,1.0,1,...,6.095352,6.735003,6.670572,7.216216,6.583863,7.048317,5.379641,6.172231,7.104939,5.759639
242,NaN,서울,특광시,6.305575,5.458504,6.294514,6.324610,3,6.0,5,...,5.911169,6.753996,6.731574,6.764670,5.704513,5.084653,5.307654,9.043871,7.275079,5.531889
243,NaN,대전,특광시,6.594207,6.058239,6.487092,6.407663,1,2.0,3,...,5.778624,6.668531,6.471142,6.280872,6.697661,7.124795,5.307654,6.901109,6.285177,6.129585

In [27]:
temp = pd.merge(body, id[['광역', '자치']], how = 'left', left_on = 'dist', right_on = '자치')

In [30]:
temp['Unnamed: 0'] = temp['광역']

In [26]:
temp.to_excel("/home/mglee/VSCODE/git/ISDS/region/merge.xlsx")